@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100vh;
  min-height: 100svh;
  /* min-height: 100dvh; */
  background-color: #00b7ff;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
   3rem 3rem 1fr repeat(8, 2.5rem) 
   /* minmax(3rem 1fr) */
    3rem;
  grid-template-areas:
    "location"
    "country"
    "condition"
    "temperature"
    "perseived-temp"
    "min-max-temp"
    "wind-speed"
    "wind-dir"
    "air-humidity"
    "sunrise-sunset"
    "moonrise-moonset"
    /* "hours" */
    "form";
}

.location {
  grid-area: location;
  padding-top: 1rem;
  font-size: 2rem;
}

.country {
  grid-area: country;
  padding-top: 0.5rem;
  font-size: 1rem;
}

.condition {
  grid-area: condition;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 15rem;
  }
}

.sunrise-sunset {
  grid-area: sunrise-sunset;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .hours {
  grid-area: hours;
  border: 2px solid red;
} */

.form {
  grid-area: form;
  display: flex;
  width: 100vw;

  input {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    width: 70%;
    text-align: center;
    caret-color: firebrick;

    &::placeholder {
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  button {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: firebrick;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    width: 30%;
  }
}
