@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

.container {
  min-height: 100vh;
  min-height: 100svh;
  /* min-height: 100dvh; */
  background-color: #000;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  display: grid;
  margin-inline: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1rem 22rem 1fr 3rem;
  grid-template-areas:
    "location"
    "country"
    "sunrise-sunset"
    "condition"
    "perceived-temp"
    "min-max-temp"
    "wind-speed"
    "wind-dir"
    "air-humidity"
    "form";
  max-width: 768px;
}

.location {
  grid-area: location;
  padding-top: 1rem;
  font-size: 2rem;
}

.country {
  grid-area: country;
  padding-top: 0.5rem;
  font-size: 1rem;
}

.sunrise-sunset {
  grid-area: sunrise-sunset;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  aspect-ratio: 1;
  border: 2px solid yellow;
  border-radius: 50%;
  background: transparent;
  position: relative;
  /* --angle: 0deg; */
}

/* @property --angle-int {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
} */

.sun {
  /* --angle-int: var(--angle); */
  /* top: calc(50% - sin(var(--angle)) * 50% - 2rem); */
  /* left: calc(50% - cos(var(--angle)) * 50% - 2rem); */
  position: absolute;
  display: block;
  border-radius: 50%;
}

.sun-icons-wrapper {
  font-size: 1rem;
  display: grid;
  place-items: center;
  color: rgba(255, 223, 25, 1);

  :not(span) {
    font-size: 1.25rem;
  }
}

.day-time {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.local-temp {
  height: 15rem;
  width: 6rem;
  color: rgba(255, 223, 25, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.temp-icons {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .temps {
    font-size: 1.5rem;
  }
}

.condition {
  grid-area: condition;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 10rem;
  }
}

.perceived,
.temp-min-max {
  font-size: 1rem;
  color: rgba(255, 223, 25, 1);

  span {
    font-size: 1.25rem;
    padding-inline: 0.5rem;
  }
}

.wind-speed-dir {
  outline: 2px solid rgba(255, 223, 25, 1);
  width: 6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  z-index: 5;
  
  .wind-direction-icon {
    color: #fff;
    width: 6rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    z-index:  -1;
    rotate: 0deg;
    
    .arrow-icon {
      color: rgba(255, 223, 25, 1);
      font-size: 2rem;
      position: absolute;
      top: -1.5rem;
      right: calc(50% - 1rem);
      bottom: auto;
      left: calc(50% - 1rem);
      z-index: -2;
    }
  }

  span {
    font-size: 2.5rem;
  }
}

.air-humidity {
  color: rgba(255, 223, 25, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  .humidity-icon {
    font-size: 1.5rem;
    line-height: 1rem;
  }
}

.form {
  grid-area: form;
  display: flex;

  input {
    font-size: 1.25rem;
    font-weight: bold;
    /* padding: 0.5rem; */
    border: none;
    width: 70%;
    height: 3rem;
    text-align: center;
    caret-color: firebrick;

    &::placeholder {
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  button {
    font-size: 1rem;
    /* padding: 0.5rem; */
    border: none;
    outline: none;
    background-color: firebrick;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    width: 30%;
    height: 3rem;
  }
}
