@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

/*
### TODO's
  - css property: scroll-snap for hourly weather forecast
  - bg-img || animated img
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: rgba(255, 255, 255, 1);
}

.container {
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  background-color: #000;
  font-weight: bold;
  text-align: center;
  display: grid;
  margin-inline: auto;
  grid-template-columns: 1fr;
  grid-template-rows:
    minmax(4rem, 0.5fr) /* condition */
    minmax(18rem, 18rem) /* sunrise-sunset */
    minmax(2rem, 2rem) /* location */
    minmax(1.5rem, 1.5rem) /* country */
    minmax(1.5rem, 1.5rem) /* local-time */
    minmax(7rem, 7rem) /* forecast */
    minmax(9rem, 10rem) /* next-days */
    minmax(2.5rem, 0.2fr); /* form */
  grid-template-areas:
    "condition"
    "sunrise-sunset"
    "location"
    "country"
    "local-time"
    "forecast"
    "next-days"
    "form";
  max-width: 768px;
}

.condition {
  grid-area: condition;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

  img {
    width: 5rem;
  }
}

.sunrise-sunset {
  grid-area: sunrise-sunset;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  aspect-ratio: 1;
  border: 2px solid rgba(255, 223, 25, 1);
  border-radius: 50%;
  background: transparent;
  position: relative;

  .sun {
    position: absolute;
  }

  .day-time {
    width: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sun-icons-wrapper {
      font-size: 1rem;
      display: grid;
      place-items: center;

      :not(span) {
        font-size: 1.25rem;
        color: rgba(255, 223, 25, 1);
      }
    }

    .local-temp {
      height: 10rem;
      width: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .temp-icons {
        display: flex;
        justify-content: center;
        /* align-items: baseline; */

        .icon-thermometer {
          color: rgba(255, 223, 25, 1);
          font-size: 1rem;
        }

        .temps {
          font-size: 1rem;
        }
      }

      .wind-speed-dir {
        border: 2px solid rgba(255, 223, 25, 1);
        width: 5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        position: relative;
        display: grid;
        place-content: center;

        .wind-direction-icon {
          width: calc(5rem - 4px);
          aspect-ratio: 1;
          /* border-radius: 50%; */
          position: absolute;
          rotate: 0deg;

          .arrow-icon {
            color: rgba(255, 223, 25, 1);
            border-top: 4px double rgba(255, 223, 25, 1);
            border-radius: 50%;
            font-size: 1.125rem;
            position: absolute;
            top: -18px;
            right: calc(50% - 1.5rem);
            bottom: auto;
            left: calc(50% - 1.5rem);
          }
        }

        span {
          font-size: 1rem;
        }
      }

      .air-humidity {
        display: flex;
        align-items: center;
        justify-content: center;

        .humidity-icon {
          font-size: 1.25rem;
          line-height: 1rem;
          color: rgba(255, 223, 25, 1);
        }
      }
    }
  }
}

.location {
  grid-area: location;
  font-size: 1.25rem;
}

.country {
  grid-area: country;
  font-size: 1rem;
}

.local-time {
  grid-area: local-time;
  font-size: 1rem;
}

.forecast {
  grid-area: forecast;
  /* height: 12rem; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  .hourly {
    list-style-type: none;
    display: flex;
    justify-items: center;

    .each-hour {
      border-right: 1px solid rgba(255, 255, 255, 1);
      padding-inline: 1.5rem;
      padding-block: 0.5rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      font-size: 0.75rem;
      scroll-snap-align: start;
    }

    img {
      border-right: 1px solid rgba(255, 255, 255, 1);
      width: 3.0625rem;
      scroll-snap-align: start;
    }
  }
}

.form {
  grid-area: form;
  display: flex;

  input {
    grid-area: form;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    outline: none;
    width: 70%;
    text-align: center;

    caret-color: firebrick;

    &::placeholder {
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  button {
    font-size: 1rem;
    border: none;
    background-color: rgba(178, 34, 34, 1);
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    width: 30%;
    cursor: pointer;

    &:hover {
      background-color: rgba(178, 34, 34, 0.85);
    }
  }
}

.next-days {
  /* padding-top: 0.5rem; */

  @media screen and (min-width: 768px) {
    padding-top: 1rem;
  }

  a {
    color: #fff;
    text-decoration: none;
    li {
      border-top: 1px solid firebrick;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.25rem 1rem;

      .forecast-day {
        width: 6rem;
      }

      img {
        width: 2rem;
      }

      div {
        display: flex;
        column-gap: 0.5rem;
      }
    }
  }
}
